sources:
  syslog_tcp:
    type: socket
    address: 0.0.0.0:5140
    mode: tcp
    framing:
      method: newline_delimited
    decoding:
      codec: json

  syslog_udp:
    type: socket
    address: 0.0.0.0:5140
    mode: udp
    decoding:
      codec: json

sinks:
  console:
    inputs:
      - syslog_tcp
      - syslog_udp
    type: console
    encoding:
      codec: json